<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.jaguil61.project5musiccentral">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher">
        <service
            android:name=".MusicCentralService"
            android:exported="true">
            <intent-filter>
                <action android:name="edu.jaguil61.project5aidl.MyAidlInterface"/>
            </intent-filter>
        </service>
    </application>

</manifest>